---
---

@import "rouge-github";

.highlight * {
  color: black;
}

:root {
  --page-background-color: #555;
  --menu-background-color: #333;
  --content-background-color: #424242;
  --header-color: white;
  --text-color: #eee;
  --clickable-color: PowderBlue;
  --clickable-hover-color: LightSteelBlue;
  --accent-color: DarkSeaGreen;
  --shadow-color: #333;
}

body {
  background-color: var(--page-background-color);
  color: var(--text-color);
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

details {
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 3px solid var(--accent-color);
  background-color: var(--menu-background-color);
}

a, summary {
  color: var(--clickable-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover, summary:hover {
  color: var(--clickable-hover-color);
  font-weight: bold;
}

.current {
  color: var(--accent-color);
  font-weight: bold;
}

table, pre {
	display: block;
	width: auto;
	overflow-x: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid var(--text-color);
	padding: 5px 10px;
}

th {
  text-align: left;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

dt {
  color: var(--accent-color);
  margin-top: 1em;
}

dt a, dt a:hover {
    all: inherit;
    cursor: pointer;
}

b, strong {
  color: var(--header-color);
}

hr {
  background-color: var(--accent-color);
  border: 0;
  height: 2px;
  margin: 0 0 20px;
}

small {
	font-size: x-small;
}

code, pre {
  color: var(--content-background-color);
  background-color: var(--text-color);
}

code {
  border-radius: 100px;
  padding-right: 5px;
  padding-left: 5px;
}

pre {
	padding: 8px 15px;
	width: auto;
}

pre code {
 background-color: inherit;
 border-radius: 0px;
 padding-right: 0px;
 padding-left: 0px;
}

blockquote {
  background-color: var(--menu-background-color);
  border-left: 5px solid var(--accent-color);
  padding: 1px 0 1px 20px;
  font-style: italic;
  margin: 0;
}

ul {
	margin: 5px 0 20px;
}

li {
	margin-bottom: 5px;
}

.container {
	display: grid;
	grid-template-areas:
		'logo header'
		'nav main'
		'footer footer';
	grid-template-columns: 300px 705px;
	grid-template-rows: minmax(100px, auto) 1fr auto;
	grid-gap: 0px;
	background-color: var(--menu-background-color);
	width: 1005px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 1px var(--shadow-color);
}

.header {
	grid-area: header;
	width: auto;
	text-align: center;
}

.logo {
	grid-area: logo;
	margin:auto;
}
.logo img {
	height: 100px;
}

.main {
	grid-area: main;
	padding: 10px;
	background-color: var(--content-background-color);
	border-top: solid 5px var(--accent-color);
}

.main img {
    max-width: 100%;
}

.nav {
	grid-area: nav;
	border-top: solid 5px var(--accent-color);
}

.innernav {
	position: sticky;
	top: 0;
	max-height: 100vh;
	overflow-y: auto;
}

.innernav details {
  margin: 0px;
  padding: 0px;
}

.innernav summary {
  color: var(--menu-background-color);
  background-color: var(--clickable-color);
  padding: 10px;
  font-weight: bold;
}

.innernav summary:hover {
  background-color: var(--clickable-hover-color);
}

.innernav ul {
  margin-left: 20px;
  padding-left: 0px;
  padding-right: 5px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 0;
}

.footer {
  grid-area: footer;
  border-top: solid 5px var(--accent-color);
  font-size: small;
  text-align: center;
  padding: 10px;
}

.totop {
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 30px;
	background-color: var(--clickable-color);
	padding: 15px;
	color: var(--menu-background-color);
	box-shadow: 0px 0px 2px 1px var(--shadow-color);
	border-radius: 100px;
}

.totop:hover {
	background-color: var(--clickable-hover-color);
	font-weight: initial;
}

@media print, screen and (max-width: 1080px) {
  .container {
	grid-template-areas:
		'logo header'
		'nav nav'
		'main main'
		'footer footer';
	grid-template-columns: 70px 1fr;
	grid-template-rows: minmax(100px, auto) auto 1fr auto;
	width: 99%;
  }
  
  .header {
	width: initial;
  }
  
  .innernav {
	position: static;
	max-height: initial;
	overflow-y: initial;
  }
  
  .main {
	  width: -moz-available
  }
}

